div.image-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}